<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loged in</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container">
        <div class="part1">
            <div class="photo"><img src="<%= golu.photo %>" alt="nahi aaya photo"></div>
            <div class="Id" name="Id">Id= <%= golu.id %></div>
            <div class="name" name="name">Name= <%= golu.name %></div>
            <div class="age" name="age">age= <%= golu.age %></div>
            <div class="sex" name="sex">sex= <%= golu.gender %></div>
        </div>

        <div class="part2">
            <form action="/logindetails" method="post">
                <div class="pastdetail">previous History</div>
                <div class="list">
                </div>
                <input type="text" class="text" name="newdata" placeholder="Data may not be changed !!!">
                <input type="submit" value="Add Details">
            </form>
        </div>

    </div>
    <script src="detaillogic.js"></script>
</body>
</html> -->